@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Forum&family=Montserrat+Alternates:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #f5f5f5;
  font-family: 'Forum', serif;
}

.logo {
  font-family: 'Cinzel Decorative', serif;
}

.logo h1 {
  font-size: 15pt;
  margin-left: 26px;
}

.logo i {
  font-size: 25pt;
  position: absolute;
  margin-top: -45px;
  margin-left: -10px;
}

header {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  margin-top: 85px;
  margin-left: -380px;
  position: absolute;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.menuItem {
  color: #f5f5f5;
  font-size: 15pt;
  padding-left: 10px;
  margin: 0 10px;
  list-style: none;
  text-decoration: none;
}

.hero {
  margin-top: 75px;
}

.heroText {
  font-family: 'Montserrat Alternates';
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
}

.heroText h2 {
  font-size: 14pt;
}

.heroText button {
  background: transparent;
  border: 2px solid #fff;
  color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
}

.hero img {
  width: 100%;
  margin-top: 45px;
}

.serviceCard img{
  width: 70%;
}