 @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:wght@300;400;500;600&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Playfair Display', serif;
}

.logo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 110px;
  padding: 0;
  color: #000;
}

.logo h1 {
  position: absolute;
}

.logo h1:last-child {
  margin-top: 50px;
  margin-left: 40px;
}

.logo i {
  margin-top: 50px;
  margin-left: -20px;
  font-size: 34px;
  color: #994b4f;
}

.hero {
  background-color: #000;
  margin-top: 40px;
  padding: 40px 20px;
}

.hero img {
  position: absolute;
  width: 290px;
  margin-top: -155px;
  margin-left: 63px;
}

.heroText {
  color: #fff;
  width: 140px;
  font-size: 8pt;
}

.heroText h2 {
  width: 200px;
}

.buttonZone {
  width: 170px;
  padding: 10px;
  margin-left: -15px;
  display: flex;
  justify-content: space-between;
}

.buttonZone input {
  padding: 8px 4px;
}

.buttonZone input:first-child {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

.buttonZone input:last-child {
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
}

.quote img {
  width: 190px;
  margin-top: -6px;
  margin-left: 183px;
} 

.quoteText i {
  font-size: 30pt;
  position: absolute;
  margin-top: 25px;
  margin-left: 65px;
}

.quoteText img {
  width: 120px;
  position: absolute;
  margin-top: 40px;
  margin-left: 60px;
  border: 1px solid #000;
  border-radius: 200px;
}

.quoteText q {
  position: absolute;
  width: 220px;
  margin-top: 170px;
  margin-left: 10px;
  text-align: center;
  color: #5e3414;
}